body {
	color: #1e5f25;
	/*color: white;*/
	text-align: center;
	margin: 0 auto;
	/*text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;*/

}

.navbar
{
	/*border: solid #1e5f25;*/
	border-radius: 15px;
	/*background: #7bb443;*/
}

.navbar a
{
	color: white;
}

/*.navbar-brand
{
	border-radius: 10px;
	border: 4px solid #1e5f25;
}*/

#submit_button {
	margin: 0 auto;
}

#top_central_section {
	/*background-color: #cedd38;*/
	background-color: #7bb443;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: solid #1e5f25;
	border-bottom: none;
}

#middle_central_section {
	/*background-color: #cedd38;*/
	min-height: 120px;
	background-color: #7bb443;
	border: solid #1e5f25;
	border-bottom: none;
	border-top: none;
}

#bottom_central_section {
	/*background-color: #cedd38;*/
	background-color: #7bb443;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: solid #1e5f25;
	border-top: none;
}