{% extends 'geoquiz/base.html' %}

{% block title %}Home - Geoquiz{% endblock %}


{% block content %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12">
			<h1>Geoquiz Home Page</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class='col-md-12'>
			<h2>Welcome back to Geoquiz, {{ user.username}}!</h2>
			<h2>{{ logout_message }}</h2>
		</div>
	</div>
	<div class='row-fluid'>
		<div class='col-md-12'>
			<h3>What would you like to do?</h3>
            <p><a href="/list" class="btn btn-primary" role="button">List Mode</a> <a href="/quiz" class="btn btn-primary" role="button">Quiz Mode</a></p>
		</div>
	</div>
</div>




{% endblock %}