{% extends 'geoquiz/base.html' %}

{% block title %}List - Geoquiz{% endblock %}

{% block content %}

<h1>List HTML document</h1>

<h2>List of all countries in database </h2>

<div class="pagination">
	<span class="step-links">
		{% if all_countries.has_previous %}
		<a href = "?page={{ all_countries.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ all_countries.number }} of {{ all_countries.paginator.num_pages }}.
		</span>

		{% if all_countries.has_next %}
		<a href = "?page={{ all_countries.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>

<ul>
	{% for country in all_countries %}
	<li>Name: <b>{{ country.name }}</b></li>
	<li>Capital: <b>{{ country.capital }}</b></li>
	<li>Region: <b>{{ country.region }}</b></li>
</br>
{% endfor %}
</uL>

<div class="pagination">
	<span class="step-links">
		{% if all_countries.has_previous %}
		<a href = "?page={{ all_countries.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ all_countries.number }} of {{ all_countries.paginator.num_pages }}.
		</span>

		{% if all_countries.has_next %}
		<a href = "?page={{ all_countries.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>

<form>
	Search by Keyword:<br>
	<input type="text" name="search" placeholder="Search by Country Name or Capital"><br>
	<input type='submit'/>
</form>

<script>
	$("input[placeholder]").each(function ()
	{
        $(this).attr('size', $(this).attr('placeholder').length
        	);
    });
</script>


{% endblock %}