{% extends 'geoquiz/base.html' %}

{% block title %}Login - Geoquiz{% endblock %}

{% block content %}

<h1>Login page</h1>

<p>{{ error_message }}</p>

<form action='/login/' method='post'>
	{% csrf_token %}
	<label for='username'>Username*:</label>
	<input type='text' name='username' maxlength='30' required></input></br>
	<label for='password'>Password*:</label>
	<input type='password' name='password' maxlength='128' required></input></br>
	<input type='submit' name='SUBMIT' value="Login"></input>
</form>

{% endblock %}