{% extends 'geoquiz/base.html' %}
{% load app_filters %}

{% block title %}Active Quiz - Geoquiz{% endblock %}

{% block content %}

<h1>Run Quiz HTML document</h1>

<h3>Region: {{ region }}</h3>
<h3>Category: {{ question_type }}</h3>

<form action='/quiz/run/' method='post'>
	{% csrf_token %}
	{% for country in countries_in_quiz %}
	<div id='{{ forloop.counter }}'>
		<p style='display:inline'>Country: {{ country.name }}</p>
		<label for='{{ country.id }}'>Capital:</label>
		<select name='{{ country.id }}'>
			{% for country_option in countries_multichoice|return_array_element_by_index:forloop.counter0 %}
			<option value='{{ country_option.id }}'>{{ country_option.capital }}</option>
			{% endfor %}
		</select>

	</div>
	{% endfor %}
	<input type='text' name='quiz_id' value='{{ quiz.id }}' hidden></input>
	<input type='submit' name='SUBMIT' value='Submit Quiz'></input>
</form>

{% endblock %}