{% extends 'geoquiz/base.html' %}

{% block title %}Active Quiz - Geoquiz{% endblock %}


{% block content %}

<h1>Run Quiz HTML document</h1>

<h3>Region: {{ region }}</h3>
<h3>Category: {{ question_type }}</h3>

<form action='/quiz/run/' method='post'>
	{% csrf_token %}
	{% for country_multichoice in countries_multichoice %}
	
	{{ forloop.counter }}
	{{ forloop.counter0 }}
	
	<div id='id{{ forloop.counter }}'>
		<p>Question: {{ countries_in_region.forloop.counter0.name }}</p>
		<label for='{{ countries_in_region.forloop.counter0.id }}'>Capital:</label>

		<select name="{{ countries_in_region.forloop.counter0.id }}">
			<option value='{{ country_multichoice.0.id }}'>{{ country_multichoice.0.capital }}</option>
			<option value='{{ country_multichoice.1.id }}'>{{ country_multichoice.1.capital }}</option>
			<option value='{{ country_multichoice.2.id }}'>{{ country_multichoice.2.capital }}</option>
			<option value='{{ country_multichoice.3.id }}'>{{ country_multichoice.3.capital }}</option>
			<option value='{{ country_multichoice.4.id }}'>{{ country_multichoice.4.capital }}</option>
		</select>


	</div>
	{% endfor %}
	<!-- <input style="display:none;" name='all_countries' value='{{ countries_in_region }}'></input> -->
	<input type='submit' name='SUBMIT' value="Submit Answer"></input>
</form>

{% endblock %}