boto==2.39.0
dj-database-url==0.4.0
Django==1.9.2
django-boto==0.3.9
django-s3direct==0.3.12
gunicorn==19.4.5
python-dateutil==2.5.0
requests==2.9.1
six==1.10.0
wheel==0.29.0
whitenoise==2.0.6
psycopg2==2.6.1
